<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
	<jsp-config>
		<jsp-property-group>
			<url-pattern>*.jsp</url-pattern>
			<include-prelude>/WEB-INF/taglibs.jsp</include-prelude>
		</jsp-property-group>
	</jsp-config>


  	<servlet>
  		<servlet-name>Discussion</servlet-name>
  		<servlet-class>servlets.Discussion</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>Discussion</servlet-name>
	  	<url-pattern>/Discussion</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>Message</servlet-name>
  		<servlet-class>servlets.Message</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>Message</servlet-name>
	  	<url-pattern>/Message</url-pattern>
  	</servlet-mapping>
  	
  	<servlet>
  		<servlet-name>Sujet</servlet-name>
  		<servlet-class>servlets.Sujet</servlet-class>
  	</servlet>
  	<servlet-mapping>
	  	<servlet-name>Sujet</servlet-name>
	  	<url-pattern>/Sujet</url-pattern>
  	</servlet-mapping>
</web-app>